header h1{
    text-align:center;
    margin:auto;
}

h1, h2, h3{
    font-family: Helvetica, sans-serif;
}

.tag{
    
    border-radius: 5px;
    margin:0.2em;
    padding:0.2em;
    background-blend-mode:difference;
    display:inline-block
}

.tip{
    color: #6c757d;
}

#display, #svg_container{
    border: 1px solid #6c757d;
    border-radius: 5px;
}


.card {
    border: 1px solid #6c757d;
    border-radius: 5px;
    margin: 0.5em;
    padding: 0.5em;
}

.card h2, .card.from p,.card.to p{
    text-align: center;
}

.card.from h2, .card.to h2, .card.from p,.card.to p{
    display:inline;}

.card a{
    color:#007bff;
    text-decoration: underline;}

#display h1{
    margin:0px;
}

.transforms ul{
    margin: 0px;
}

.transforms h4{
    margin-bottom:0.5em;}

html{min-height:90%;}
main{
    min-height: 90vh; 
}
/* container */
.viz {
    display: grid;
    grid-template-columns: auto 1fr;
    width:100%;
    gap:15px;
}

/* columns */
.viz > * {
    padding:1rem;
}

footer {
    width:100%;
    /* margin:auto; */
    text-align: center;
}
